.title {
    display: inline-block;
    background-color: rgba(193, 226, 43, 0.8);
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0;
    margin-bottom: 5px;
  }

.container {
    max-width: 960px;
    margin-top: 25px;
  }