* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  display: inline-block;
  background-color: rgba(233, 186, 31, 0.8);
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0;
  margin-bottom: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: rgb(106, 85, 133);
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
}
.container {
  max-width: 960px;
  margin-top: 25px;
}
